* {
   /*propriedades em todas as tags*/

}

body{/*Comentarios... muito importantes.
    Aqui temos a formatação da tag BODY. 
    Definimos uma cor de fundo junto com a cor das letras e sua fonte.
    Aprende pra aplicar no projeto ze ruela!! */
    margin: 0;
    background-color: aquamarine;
    color: rgb(37, 56, 37);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.layout-pagina{
    /*Organização geral da pagina. Temos o layout do grid */
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer" 
    ;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

/*Cabeçalho dox negocin man */

.cabecalho{

    /*elemento especifico do meu grid,
    com a area definida header.
    Ta ficando bonitin papai XD
    Bota isso no Projetin man vai ficar massa.*/
    grid-area: header;
    background-color: rgb(0, 156, 96);
    color: rgb(37, 56, 37);
    padding: 25px;
    text-align: center;
    animation: aumentarDiminuir 1s infinite alternate ease-in-out;

}
/*aqui eu chapei legal, inventando moda*/
@keyframes aumentarDiminuir{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.10);
    }
}
.cabecalho h1{
    margin: 0 0 10px;
}
.cabecalho p{
    margin: 0;
}
/* menu lateral IXquerda*/

.barra-lateral {
    grid-area: sidebar;
    background-color: rgb(75, 0, 161);
    padding: 20px;
}
.barra-lateral h2{
    color: rgb(75, 0, 161);
}

.barra-lateral ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.barra-lateral li{
    margin-bottom: 10px;
}

.barra-lateral a {
    display: block;

    background-color: rgb(59, 0, 35);
    color: bisque;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}
.barra-lateral a:hover{
    background-color: brown;
}
/* Grid dos Cards*/

.grid-principal {
    grid-area: main;
    padding: 30px;
}
.grid-principal h2 {
    margin-top: 0;
    color: rgb(37, 56, 37);
    
}
.grid-cards {
    display: grid;

    /* Two colunas*/

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 2rem;
}

.card{
    background-color: rgb(59, 0, 35);
    padding: 1rem;
    border: 1px solid rgb(75, 0, 161);
    border-radius: 1rem;
    box-shadow: 0 3px 8px rgb(129, 0, 161)
}
.card h3{
    margin-top: 0;
    color: rgb(0, 156, 96);
}
.card p{
    line-height: 1.5;
}
.card a{
    display: inline-block;
    background-color: rgb(59, 0, 35);
    color: bisque;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}
.card a:hover{
    background-color: rgb(60, 0, 83);
}

